[submodule "themes/hemingway"]
	path = themes/hemingway
	url = https://github.com/tanksuzuki/hemingway
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
